.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.bottom-right{
  position: absolute;
  bottom: 5px;
  right: 8px;
}
.modal-z-2{
  z-index: 1191 !important;
}
.separator{
  border-color: #8899BB;
}
.loader{
  height: 200px;
}
.border-right-comapretor{
  border-right: #212529 solid 2px;
}
.border-bottom-comapretor{
  border-bottom: #212529 solid 2px;
}
.border-top-sep{
  border-top: #ABBCCD solid 1px;
}
.click{
  text-decoration: none;
  
  cursor: pointer;
}
.refuse-bg{
  background-color: #FFD5D6;
}
.accept-bg{
  background-color: #F1FFD1;
}
.pin-bg{
  background-color: #FEFDDF;
}
.h-38px{
  height: 38px !important;
}
.width-input{
  width: 55px !important;
}
.flex-even {
  flex: 1;
}
.profil-tiny{
  z-index: 999;
  height: 45px;
  margin-top: 2px;
  width: 45px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 50%;
}
.profil-tinylow{
  z-index: 999;
  height: 30px;
  margin-top: 2px;
  width: 30px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 50%;
}
.height-38{
  height: 38px;
}
.flex-1{
  flex: 1;
}
.profil{
  z-index: 999;
  margin-top: -45px;
  margin-left: 15px;
  height: 80px;
  width: 80px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 50%;
}
.round-50p{
  border-radius: 16px;
}
.img-btn-tiny{
  width: 13px;
  height: 13px;
}
.img-btn{
  width: 20px;
}
.profil img{
  z-index: 1000;
  height: 100%;
  width: 100%;
}
.imageHeader{
  width: 50px;
  height: 50px;
  object-position: center;
  object-fit: cover;
  border-radius: 100%;
  margin: 3px;
}
.homeBanner{
  opacity: 0.6;
  height: 600px;
  width: 100%;
  object-position: center;
  object-fit: cover;
  background-color: black;
}
.centrerImage{
  width: 50px;
  height: 50px;
  object-position: center;
  object-fit: cover;
}
.bg-black{
  background-color: black;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.titleOverImg {
  font-size: 50px;
  font-family: DomaineDisplay,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: bolder;
  color: white;
}
.center-crop{
  object-fit: cover;
}
.left-div{
  max-width: 350px;
}
.center-div{
  flex: 1;
}
.banner img{
  z-index: 998;
}
.banner{
  z-index: 997;
  height:100px;
}
.w-35{
  width: 35%;
}
.w-45{
  width: 45%;
}
.w-30{
  width: 30%;
}
.w-40{
  width: 40%;
}
.click{
  cursor: pointer;
}
.form-access{
  width: 100%;
  max-width: 430px;
  padding: 15px;
  margin: auto;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.profil-notif{
  width: 35px;
  height: 35px;
  object-fit: cover;
  object-position: center; 
  background-color: #FFF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
}



/* Css pour les messages */

.Messenger{
  height: calc(100vh - 70px);
  display: flex;
}

.chatMenu{
  flex: 3.5;
}

.chatMenuInput{
  width: 90%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid gray;
}

.chatBox{
  flex: 5.5;
}

.chatBoxWrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.chatBoxTop{
  height: 100%;
  overflow-y: scroll;
  padding-right: 10px;
}

.chatBoxBottom{
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatMessageInput{
  width: 80%;
  height: 90px;
  padding: 10px;
}

.chatSubmitButton{
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: teal;
  color: white;
}

.chatOnline{
  flex: 3;
}

.chatMenuWrapper,.chatBoxWrapper,.chatOnlineWrapper{
  padding: 10px;
  height: 100%;
}



.conversation{
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.conversation:hover{
  background-color: rgb(231,231,231);
}

.conversationImg{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.conversationName{
  font-weight: 500;
}

.message{
  display: flex;
  flex-direction: column;
}

.messageTop{
  display: flex;
}

.messageImg{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.messageText{
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(245,241,241);
  color: black;
  max-width: 300px;
}

.messageBottom{
  font-size: 12px;
  margin-top: 10px;
}

.message.own{
  align-items: flex-end;
}

.message.own .messageText{
  background-color: #1877f2;
  color: white;
}

.opacity-1{
  opacity: 0.1;
}
.z-top{
  z-index: 1050;
}

.z-bottom{
  z-index: 950;
}

.newConv{
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: teal;
  color: white;
}
.bg-car{
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 0px 20px 0 rgba(0,0,0,0.2);
    background-color: #DD8EA4;
    transition: 0.3s;
}
.ombre{
  box-shadow: 0 0px 20px 0 rgba(0,0,0,0.2);
}
.Hgris:hover{
  background-color: rgb(231,231,231);
}